<%- include('../includes/header.ejs') %>


    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main>
                <% if (products?.length> 0) { %>
                    <div class="cart-display">
                        <% for(let product of products) { %>
                            <div class="cart-item">
                                <div class="cart-image">
                                    <img src="<%= product.imgUrl %>" />
                                </div>
                                <div>
                                    <div class="cart-title">
                                        <%= product.title %> - <%= product.count %>
                                    </div>
                                    <div class="cart-price">
                                        <p>
                                            <%= product.price %>
                                        </p>
                                    </div>
                                    <div class="cart-des">
                                        <p>
                                            <%= product.description %>
                                        </p>
                                    </div>
                                    <form action="/cart-delete-item" method="POST">
                                        <input type="hidden" name="productId" value="<%= product.id %>" />
                                        <button type="submit">Delete</button>
                                    </form>
                                </div>
                            </div>

                            <% } %>
                    </div>
                    <p>
                        <%= products.totalPrice %>
                    </p>
                    <form action="/create-order" method="POST">
                        <button type="submit">Order Now!!</button>
                    </form>
                    <% }else { %>
                        <h1>No product is there</h1>
                        <% } %>
            </main>
    </body>


    <%- include('../includes/end.ejs') %>