<%- include('../includes/header.ejs') %>
    <link rel="stylesheet" href="/css/orders.css">
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main>
            <% if (orders.length <= 0) { %>
                <h1>Nothing here!</h1>
            <% } else { %>
                <ul class="orders">
                    <% orders.forEach(order => { %>
                        <li class="orders__item">
                            <h1>Order ID: # <%= order.id %></h1>
                            <ul class="orders__products">
                                <% order.products.forEach(product => { %>
                                    <li class="orders__products-item"><%= product.title %> (Quantity: <%= product.orderItem.quantity %>)</li>
                                <% }); %>
                            </ul>
                        </li>
                    <% }); %>
                </ul>
            <% } %>
        </main>
    </body>

    <%- include('../includes/end.ejs') %>