<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
            <main class="centered">
                <h1>
                    <%= product.title %>
                </h1>
                <br>
                <div>
                    <img src="<%= product.imgUrl %>" alt="<%= product.title %>" style="width: 100%;" />
                </div>
                <p>
                    <%= product.description %>
                </p>
                <h2>$<%= Number(product.price).toFixed(2) %>
                </h2>
                <form method="post" action="/cart">
                    <button class="btn" type="submit">Add to Cart</button>
                    <input type="hidden" value="<%= product.id %>" name="productId" />
                </form>
            </main>
            <%- include('../includes/end.ejs') %>